body{
    background-image: linear-gradient(to right, #434343 0%, black 100%);
}
header {
    margin: 20px 0;
}

.main-1 h1 {
    font-size: 110px;
    background-image: linear-gradient(to top, #f43b47 0%, #453a94 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about-me{
    color: white;
}

.tribal-line{
   
}

